#CreatePost .card {
  background-color: rgba(126, 123, 215, 0.426);
  /* background-color: rgba(126, 64, 35, 0.897); */
  height: auto;
  /* background-color: rgba(126, 123, 215, 0.692); */
  /* background-color: rgba(235, 118, 118, 0.198); */
}

/* #CreatePost h6 {
  line-height: 1.7;
} */

#CreatePost label {
  color: rgb(255, 255, 255) !important;
  /* background-color: none !important; */

  /* font-family: Arial; */
}

.md-form.md-outline .form-control {
  padding: 1.25rem 1rem;
}

.md-form.md-outline label.active {
  background-color: transparent !important;
  padding-bottom: 2rem;
  text-decoration: underline;
  /* font-weight: bolder; */
  font-size: medium;
}
