#CreatePost .view {
  background-image: url("../../images/brewKettels.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

#CreatePost .gradient {
  background: -webkit-linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.7),
    rgba(72, 15, 144, 0.4) 100%
  );
  background: -webkit-gradient(
    linear,
    45deg,
    from(rgba(0, 0, 0, 0.7), rgba(72, 15, 144, 0.4) 100%)
  );
  background: linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.7),
    rgba(72, 15, 144, 0.4) 100%
  );
}

#CreatePost .card {
  background-color: rgba(126, 123, 215, 0.568);
  /* background-color: rgba(231, 14, 14, 0.616); */
}

#CreatePost h6 {
  line-height: 1.7;
}

#CreatePost .navbar {
  transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
}

#CreatePost .top-nav-collapse {
  background: #424f95 !important;
}

@media (max-width: 768px) {
  #CreatePost .navbar:not(.top-nav-collapse) {
    background: #424f95 !important;
  }
  h6 {
    display: none;
  }
  hr {
    display: none;
  }
  .h1-responsive {
    display: none;
  }
  .signInBtn {
    position: absolute;
    bottom: 0;
  }
}

#CreatePost label {
  color: rgb(255, 255, 255) !important;
  font-weight: bolder;
  /* background-color: none !important; */

  /* font-family: Arial; */
}

.md-form.md-outline .form-control {
  padding: 1.25rem 1rem;
}