/*! THE POST CONTENT */
.postText {
  display: block;
  display: -webkit-box;
  max-width: 100%;
  height: 60px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 1.5;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

#postPage .card-footer {
  width: 100%;
  background-color: #ffffff;
  color: red !important;
  font-size: larger;
}

/* #postPage h6 {
  line-height: 1.7;
} */

/* #postPage .top-nav-collapse {
  background: rgba(126, 64, 35, 0.486) !important;
} */

/* @media (max-width: 768px) {
  #postPage .navbar:not(.top-nav-collapse) {
    background: rgba(126, 64, 35, 0.486) !important;
  }
  h6 {
    display: none;
  }
  hr {
    display: none;
  }
  .h1-responsive {
    display: none;
  }
  .signInBtn {
    position: absolute;
    bottom: 0;
  }
} */

#postPage label {
  /* color: rgb(255, 255, 255) !important;
  font-weight: bolder; */
  /* background-color: none !important; */

  /* font-family: Arial; */
}

/* .md-form.md-outline .form-control {
  padding: 1.25rem 1rem;
} */
/* .card .card-body .card-text{
  text-overflow: ellipsis !important;
} */
