#clock {
  .clock-content {
    padding-top: 150px;
  }

  .clock-current-card {
    width: 15vw;
    height: 30vh;
  }
  .clock-in-card {
    width: 15vw;
    height: 30vh;
  }
  .clock-out-card {
    width: 15vw;
    height: 30vh;
  }
  @media (max-width: 740px){
    // .clock-current-card {
    //   width: 100vw;
    //   height: 25vh;
    //   font-size: small;
    //   color: red;
    // }
    // .clock-in-card {
    //   width: 15vw;
    //   height: 30vh;
    // }
    // .clock-out-card {
    //   width: 15vw;
    //   height: 30vh;
    // }
  }
  .btns-in-out{
    padding-top: 15px;
  }
}


